<div class="home-page">
	<div class="header">
		<div class="inside">
			<p><img src="img/bell-icon-128.png" class="bell-jingle">
			<br><br>Your meal is here.
			<br><br><div class="app-store"></div>
		</div>
	</div>

	<div class="jumbotron text-center">
<!-- 		<h2>How it works:</h2> -->
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-phone"></span>
					<br>Browse restaurants and order dishes from our iOS app
				</div>
				<div class="col-sm-4 middle">
					<span class="glyphicon glyphicon-road"></span>
					<br>Track your order as it comes to you
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-cutlery"></span>
					<br>Enjoy your edible delights
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12"><br><p>
					Ding Dong Delivery lets you browse local restaurants that can deliver to your door. Search for participating restaurants or let the app make nearby suggestions. Filter meals according to dietary restrictions. We want to make food ordering simple.
				</p></div>
			</div>
			<div class="row">
				<div class="col-sm-12 restaurant"><br>
					<!-- <div class="restaurant"></div> -->
					<h3>Restaurant owner?</h3>
					<p>Join Ding Dong Delivery to connect your restaurant with local customers. Use our simple web app to see and manage your incoming orders. <a href="/register">Register here.</a>
				</p></div>
			</div>
		</div>
	</div>
	<footer>
		Have questions? Email us at <a href="mailto:contact@dingdongdelivery.ca?Subject=Inquiry">contact@dingdongdelivery.ca</a>
		<br><br><span style="font-size: 100%;" class="glyphicon glyphicon-copyright-mark"></span> 2016 Tralala Labs
		<br><a href="/learning">Developing this site.</a>
	</footer>
</div><!-- home page -->