<div class="home-page">
	<ul type="context">
		<li class="first">BRAND NAME HERE MUFUCKA</li>
		<li>Contact</li>
		<li>How it works</li>
	</ul>

	<div class="header">
		<div class="inside">
			<br><span class="glyphicon glyphicon-glass"></span>
			<br><span class="glyphicon glyphicon-cutlery"></span>
			<br><br><p>get some snax now</p>
			<br><p>yea boiiiii</p>

		</div>
	</div>

	<div class="jumbotron text-center">
		<h2>How it works:</h2>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-phone"></span>
					<br>Find and order delicious dishes from our iOS app
				</div>
				<div class="col-sm-4 middle">
					<span class="glyphicon glyphicon-road"></span>
					<br>Your order will be sent off to be delivered
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-cutlery"></span>
					<br>GET THAT FOOD IN YO BELLY BOIII
				</div>

				<br><br><br><br><br><br><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				
			</div>
		</div>
	</div>
</div><!-- home page -->