<div class="home-page">
	<div class="header">
		<div class="inside">
			<p>Stop being hungry and get snax now</p>
<!-- 			<br><p>yea boiiiii</p> -->
			<br><a href = ""><img src="/img/app-store-soon.png"></a>
		</div>
	</div>

	<div class="jumbotron text-center">
<!-- 		<h2>How it works:</h2> -->
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-phone"></span>
					<br>Browse restaurants and order dishes from our iOS app
				</div>
				<div class="col-sm-4 middle">
					<span class="glyphicon glyphicon-road"></span>
					<br>Track your order as it comes to you
				</div>
				<div class="col-sm-4">
					<span class="glyphicon glyphicon-cutlery"></span>
					<br>GET THAT FOOD IN YO BELLY BOIII
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12"><br><p>
					Ding Dong Delivery lets you browse restaurants that can deliver to your door. Right now.
					<br><br>
				</p></div>
			</div>
		</div>
	</div>
	<footer>
		<span style="font-size: 100%;" class="glyphicon glyphicon-copyright-mark"></span> 2016 Tralala Labs
	</footer>
</div><!-- home page -->