<div class="learn-page">
<div class="container">

	<div class="col-sm-12">
		<h1><center>WHAT I LEARNED AAAYYYYYY</center></h1>
	</div>

	<div class="row">
		<div class="col-sm-6 section">
			<p>Ding Dong Delivery was started in September 2016 as an entrepreneurial co-op term. The team was comprised of myself and Computer Engineering student Kevin Mok. We set out to develop a food ordering system that would be served through both an iOS application and web application.</p>
		</div>
		<div class="col-sm-6 section">The iOS application would be used for customers to browse restaurants, make meal orders, and track their delivery in real time. The web application would be used for restaurant owners to create their restaurant profiles and menus, see incoming orders and update customers of preparation progress.</div>
	</div>

</div>
</div>