body {
	background: url(../../img/login-bg-lg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media screen and (min-width: 480px) and (max-width: 922px) {
	body {
	    background: url(../../img/login-bg-md.jpg) no-repeat center center fixed; 
	}
}

@media screen and (max-width: 479px) {
	body {
	    background: url(../../img/login-bg-sm.jpg) no-repeat center center fixed; 
	}
}

header .navbar{
	border-radius:0;
	opacity: 0.9;
}

main {
	padding-top: 30px;
}

.page-header{
	color: white;
}

.hello{
	font-size: 3em;
	font-weight: bold;
	color: white;
	padding: 15px 0 10px 0;
	line-height: 20px;
	text-align: center;
}

#content-views {
	position: relative;
}

.menu-thumb {
	width: 150px;
	display: block;
	margin: 0 auto;
}

.jumbotron{
	background-color: rgba(195, 195, 195, 0.8);
}

.btn-primary, .btn-danger{
	margin-top: 1%;
}

.btn-img-upload{
	background-color: rgba(150, 150, 150, 1);
	border: 1px solid rgba(150, 150, 150, 1);
}
.btn-img-upload:hover{
	background-color: rgba(130, 130, 130, 1);
	border: 1px solid rgba(130, 130, 130, 1);
}

tr{
	background-color: rgba(190, 190, 190, 0.7);
}

/*========== PROFILE & MENU PAGEs ==========*/
.profile-page th{
	width: 40%;
}

.edit-button{
	height: 75px;
	width: 75px;
	background: url(../../img/edit-icon.png);
	position: absolute;
	right: 0;
}

/*uploaded img*/
.upload{
	max-width: 100%;
	margin: 1% 0 1% 0;
	border-radius: 10px;
}

.img-upload{
	margin-bottom: 2%;
}

.img-upload h2{
	text-align: center;
}
.img-upload img{
	max-width: 100%;
	border-radius: 10px;
}

/*.ng-enter, .ng-leave{
	width: 100%;
	position: absolute;
}
.ng-enter{
	-webkit-animation: fadeIn 0.25s both ease-in;
	-moz-animation: fadeIn 0.25s both ease-in;
	animation: fadeIn 0.25s both ease-in;
}
.ng-leave{
	-webkit-animation: fadeOut 0.25s both ease-in;
	-moz-animation: fadeOut 0.25s both ease-in;
	animation: fadeOut 0.25s both ease-in;
}*/
.show-hide-message{
	text-align: center;
}
.show-hide-message.ng-hide-remove{
	-webkit-animation: zoomIn 0.25s both ease;
	-moz-animation: zoomIn 0.25s both ease;
	animation: zoomIn 0.25s both ease;
}

/* =========== ANIMATIONS =================== */ 
.spinner {
     animation: spin 1s infinite;
     -webkit-animation: spin 1s infinite;
     -moz-animation: spin 1s infinite;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}