body {
	background: url(../../img/login-bg-sm.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	height: 100vh;
/*	background-color: #FFFDF3;*/
	font-size: 150%;
}

@media screen and (min-width: 480px) and (max-width: 922px) {
	body {
	    background: url(../../img/login-bg-sm.jpg) no-repeat center center fixed; 
	}
}

@media screen and (max-width: 479px) {
	body {
	    background: url(../../img/login-bg-sm.jpg) no-repeat center center fixed; 
	}
}

header .navbar{
	border-radius:0;
	opacity: 1;
}

header .navbar img{
	margin-top: -2%;
}

.navbar .container .navbar-brand{
	font-weight: bold;
	font-size: 200%;
	color: white;
	transition: color 0.1s;
}

.navbar .container .navbar-brand:hover{
	/*color: #777;*/
	opacity: 0.4;
}

.container-fluid{
	padding: 0;
}

.jumbotron{
	background-color: rgba(195, 195, 195, 0.8);
	padding: none;
	margin: 0 5% 5% 5%;
}
.home-page ul{
	color: white;
	background-color: rgba( 10, 10, 10, 0.8);
	margin-top: 0;
	height: 55px;
	font-size: 150%;
	font-weight: bold;
	list-style-type: none;
}

.home-page h1{
	text-align: center;
	/*font-size: 100%;*/
/*	font-weight: bold;*/
	font-family: quicksand;
	vertical-align: middle;
}

.home-page h2{
	font-family: helvetica;
	font-weight: bold;
	margin-bottom: 3%;
}

.home-page .header{
	padding: 0 3%;
	color: white;
/*	height: 92vh;*/
}

.home-page .header .inside{
	background-color: rgba( 10, 10, 10, 0.6);
	width: 90%;
	margin: 5%;
	border-radius: 15px;
	padding: 5% 0;
	text-align: center;
	font-size: 200%;
}
.home-page .col-sm-4{
	font-size: 1.5em;
}
.home-page .middle{
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}
.home-page .header p{
	text-align: center;
	font-size: 1.5em;
}
.home-page .jumbotron{
	background-color: rgba(225, 225, 225, 0.9);
	width: 100%;
	padding: 5% 10%;
	margin: 0;
}
.home-page .glyphicon{
	font-size: 200%;
}

.home-page footer{
	background-color: rgba(32, 32, 32, 1);
	text-align: center;
	padding: 5% 10%;
	color: white;
}
.orders-page ul{
	padding: 0 20% 0 0;
	margin-left: 10%;
	float: left;
}
.orders-page li{
	margin-top: 0;
	float: left;
}
.orders-page .jumbotron{
	margin-top: 0;
}
.orders-page .btn-success{
	text-align: center;
	float: right;
	font-size: 200%;
}

main {
	padding-top: 30px;
}

.page-header{
	color: white;
	margin-left: 5%;
	margin-right: 5%;
}

.hello{
	font-size: 4em;
	font-weight: bold;
	color: white;
	padding: 15px 0 10px 0;
	line-height: 35px;
	text-align: center;
}

#content-views {
	position: relative;
}

.btn-primary, .btn-danger{
	margin-top: 1%;
}

.btn-img-upload{
	background-color: rgba(150, 150, 150, 1);
	border: 1px solid rgba(150, 150, 150, 1);
}
.btn-img-upload:hover{
	background-color: rgba(130, 130, 130, 1);
	border: 1px solid rgba(130, 130, 130, 1);
}

tr{
	background-color: rgba(190, 190, 190, 0.7);
}

/*========== PROFILE & MENU PAGEs ==========*/
.profile-page th{
	width: 40%;
}
.profile-page .jumbotron{
	margin-top: 0;
}
.profile-page .description{
	
}
.profile-page .dish-img{

}
.profile-page .menu-thumb {
	width: 100%;
	display: block;
	margin: 0 auto;
}
.profile-page .sm-th{
	width: 25%;
}
.profile-page .xsm-th{
	width: 15%;
}
.profile-page .md-th{
	width: 30%;
}
.single-menu-page .jumbotron{
	margin-top: 0;
}
.register-page .jumbotron{
	margin-top: 0;
}

.edit-button{
	height: 75px;
	width: 75px;
	background: url(../../img/edit-icon.png);
	position: absolute;
	right: 0;
}
/*uploaded img*/
.upload{
	max-width: 100%;
	margin: 1% 0 1% 0;
	border-radius: 10px;
}

.img-upload{
	margin-bottom: 2%;
}

.img-upload h2{
	text-align: center;
}
.img-upload img{
	max-width: 100%;
	border-radius: 10px;
}

.diet-checkbox{
	margin: 0 2%;
}

.ng-enter, .ng-leave{
	width: 100%;
	position: absolute;
}
.ng-enter{
	-webkit-animation: fadeIn 0.25s both ease-in;
	-moz-animation: fadeIn 0.25s both ease-in;
	animation: fadeIn 0.25s both ease-in;
}
.ng-leave{
	-webkit-animation: fadeOut 0.25s both ease-in;
	-moz-animation: fadeOut 0.25s both ease-in;
	animation: fadeOut 0.25s both ease-in;
}
/*.show-hide-message{
	text-align: center;
}
.show-hide-message.ng-hide-remove{
	-webkit-animation: zoomIn 0.25s both ease;
	-moz-animation: zoomIn 0.25s both ease;
	animation: zoomIn 0.25s both ease;
}*/

/* =========== ANIMATIONS =================== */ 
.spinner {
     animation: spin 1s infinite;
     -webkit-animation: spin 1s infinite;
     -moz-animation: spin 1s infinite;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}