<div class="orders-page">
		<div class="hello">Welcome {{ order.user.username }}.</div>
<div class="page-header">
	<h1>Incoming Orders</h1>
</div>

<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="order.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span> <p>Loading Orders...</p>
</div>


			


<div class="form-horizontal jumbotron">
	<button type="button" class="btn btn-success" ng-click="order.refresh()">Refresh</button>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Customer
					<!-- <button ng-click="sortBy('name')">Name</button> -->
       				<!--  <span ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span> -->
       			</th>
			<!-- 	<th>Restaurant ID</th> -->
				<th>Dishes ordered</th>
				<th>Time Placed</th>
				<th>Delivery Instructions</th>
				<th>Subtotal</th>
				<th>Address</th>
				<th>Phone Number</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		    <!-- LOOP OVER THE ORDERS -->
			<tr ng-repeat="item in order.orders" ng-show="order.user._id == item.rest_oid">
				<!--  ng-if="item.customer_id == order.user._id" -->
				<td><p>{{ item.Username }}<p></td>
				<!-- <td>{{ item.rest_oid }}</td> -->
				<td>
					<ul ng-repeat="name in item.dish_name">
						<li><p>{{item.order_array[$index]}} x {{name}}</p></li>
					</ul>
				
				</td>
				<td><p>{{ item.Time_Placed }}</p></td>
				<td><p>{{ item.delivery_instruction }}</p></td>
				<td><p>{{ item.subtotal}}</p></td>
				<td><p>{{ item.Address}}</p></td>
				<td><p>{{ item.Contact_num}}</p></td>


				

				<td class="col-sm-2">
					<!-- <a ng-href="/orders/{{ item._id }}" class="btn btn-primary">View</a> -->
					<a href="#" ng-click="order.deleteOrder(item._id)" class="btn btn-danger">Remove</a>
				</td>

			</tr>
			<!-- <tr><td>{{order.test_array}}</td></tr> -->

<!-- 			<tr><td ng-bind="order.orders">**{{ rest_oid }}</td></tr> -->
	  	</tbody>
<!-- 	  	 <button ng-click="order.idToName(order.orders.dish_ordered, order.user._id)">Click</button> -->
	</table>
</div>
</div>