<div class="page-header">
	<h1>Profile Information</h1>
</div>

<div class = "jumbotron profile-page">
	 <table class="table table-bordered table-striped">
 	<!-- 	<tr>
			<th>User ID</th>
			<td>{{ profile.user._id }}</td>
		</tr> -->
		<tr>
			<th>Username</th>
			<td>{{ profile.user.username }}</td>
		</tr>
		<tr>
			<th>Restaurant Name</th>
			<td>{{ profile.user.name }}</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>{{ profile.user.email }}</td>
		</tr>
		<tr>
			<th>Address</th>
			<td>{{ profile.user.address }}</td>
		</tr>
		<tr>
			<th>Phone #</th>
			<td>{{ profile.user.phone }}</td>
		</tr>
		<tr>
			<th>Restaurant Hours</th>
			<td>{{ profile.user.hours }}</td>
		</tr>
		<tr>
			<th>Restaurant Description</th>
			<td>{{ profile.user.description }}</td>
		</tr>
		<tr>
			<th>Delivery Fee ($)</th>
			<td>{{ profile.user.delivery }}</td>
		</tr>
		<tr>
			<th>Minimum Order Amount ($)</th>
			<td>{{ profile.user.min_order }}</td>
		</tr>
	</table>
	<a ng-href="/users/{{ profile.user._id }}" class="btn btn-primary">Edit</a>
</div>

<div class="page-header">
	<h1>Your Menu</h1>
</div>

<div class="form-horizontal jumbotron">
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th></th>
			<!-- <th>_id</th> -->
			<th>Name</th>
			<th>Description</th>
			<th>Prep Time (minutes)</th>
			<th>Price ($)</th>
			<!-- <th>User Id</th> -->
			<!-- <th>IMG URL</th> -->
			<th></th>
		</tr>
	</thead>
	<tbody>
	    <!-- LOOP OVER THE MENU -->
		<tr ng-repeat="menu in profile.menus" ng-if="menu.user_id == profile.user._id">
			<td><img class="menu-thumb" src="{{ menu.img_url }}"></td>
			<!-- <td>{{ menu._id }}</td> -->
			<td>{{ menu.name }}</td>
			<td>{{ menu.description }}</td>
			<td>{{ menu.prep_time }}</td>
			<td>${{ menu.price }}</td>
			<!-- <td>{{ menu.user_id }}</td> -->
			<!-- <td>{{ menu.img_url }}</td> -->

			<td class="col-sm-2">
				<a ng-href="/menu/{{ menu._id }}" class="btn btn-primary">Edit</a>
				<a href="#" ng-click="profile.deleteMenu(menu._id)" class="btn btn-danger">Delete</a>
			</td>
		</tr>
  	</tbody>
</table>
<a href="/menu/add/{{ profile.user._id }}" class="btn btn-default">
	<span class="glyphicon glyphicon-plus"></span>Add
</a>
</div>




