<div class="singleMenu-page">
	<div class="page-header">
		<h1 ng-if="user.type == 'create'">Create Menu</h1>
		<h1 ng-if="user.type == 'edit'">Edit Menu</h1>
	</div>

	<div class="row">
		<div class="show-hide-message" ng-show="user.message">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="alert alert-info">
					{{ user.message }}
					<br><br><a href="/profile">Back to Profile</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid jumbotron">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="img-upload col-sm-6">
				<h3>Image Upload</h3>
		        <form name="user.upload_form">
		            <input
		               type="file"
		               ngf-select
		               ng-model="user.file"
		               name="file"
		               ngf-pattern="'image/*'"
		               accept="image/*"
		               ngf-max-size="1.2MB"
		               />
		            <img class="upload" ngf-thumbnail="user.file" ng-if="!user.progress"/>
		            <i ng-show="user.upload_form.file.$error.required">*required</i><br>
		            <i ng-show="user.upload_form.file.$error.maxSize">File too large 
		            {{user.file.size / 1000000|number:1}}MB: max 1.2M</i>
		            <button type="submit" ng-if="user.type == 'create'" ng-show="user.file" class="btn btn-success btn-lg btn-block btn-img-upload" ng-click="user.submit()">Upload Image</button>
		            <button type="submit" ng-if="user.type == 'edit'" ng-show="user.file" class="btn btn-success btn-lg btn-block btn-img-upload" ng-click="user.submit()">Change Image</button>

		            <!-- LOADING MESSAGE -->
					<div class="jumbotron text-center" ng-show="user.processing">
						<span class="glyphicon glyphicon-repeat spinner"></span> <p>Loading...</p>
					</div>
		            <p>{{user.progress}}
		        </form>
				<img class="upload col-sm-offset-2" ng-src="{{ user.menuData.img_url }}"/>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="row">
			<div class="col-sm-1"></div>
			<form class="form-horizontal col-sm-10" ng-submit="user.saveMenu()">
				<div class="form-container">

		<!-- 		<div class="form-group">
					<label class="col-sm-2 control-label">_id</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="user.menuData._id">
					</div>
				</div> -->

		<!-- 		<div class="form-group">
					<label class="col-sm-2 control-label">User ID</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="user.menuData.user_id">
					</div>
				</div> -->

				<div class="form-group">
					<label class="col-sm-2 control-label">Name *</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" ng-model="user.menuData.name">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Price ($)</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" ng-model="user.menuData.price">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Description</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" ng-model="user.menuData.description"[ng-maxlength="232"]>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Prep Time (minutes)</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" ng-model="user.menuData.prep_time">
					</div>
				</div>

			<!-- 	<div class="form-group">
					<label class="col-sm-2 control-label">Img URL</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" ng-model="user.menuData.img_url">
					</div>
				</div> -->

				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<div class="col-sm-10">
						<label class="diet-checkbox">Gluten Free:
							<input type="checkbox" 
							ng-model="user.menuData.gf"
							ng-checked="user.menuData.gf=='true'" 
							ng-click="user.change(user.menuData.gf, 'g')">
						</label>
						
						<label class="diet-checkbox">Dairy Free: 
							<input type="checkbox" 
							ng-model="user.menuData.df" 
							ng-checked="user.menuData.df=='true'" 
							ng-click="user.change(user.menuData.df, 'd')">
						</label>
						
						<label class="diet-checkbox">Contains Nuts:
							<input type="checkbox" 
							ng-model="user.menuData.nuts"
							ng-checked="user.menuData.nuts=='true'" 
							ng-click="user.change(user.menuData.nuts, 'n')">
						</label>

						<label class="diet-checkbox">Vegetarian:
							<input type="checkbox" 
							ng-model="user.menuData.vegetarian"
							ng-checked="user.menuData.vegetarian=='true'" 
							ng-click="user.change(user.menuData.vegetarian, 'v')">
						</label>
					</div>
				</div>

<!-- 				GF = {{ user.menuData.gf }}<br/>
				DF = {{ user.menuData.df }}<br/>
				Nuts = {{ user.menuData.nuts }}<br/>
				Veg = {{ user.menuData.vegetarian }}<br/> -->
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-8">
						<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="user.type == 'create'">Create Menu</button>
						<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="user.type == 'edit'">Update Menu</button>
					</div>
				</div>
				</div><!-- form container -->
			</form>
			<div class="col-sm-1"></div>
		</div><!-- row -->
	</div><!-- container jumbotron -->
	
</div>
